/*Gesamter Body*/
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    line-height: 1.5
    padding: 0;
    margin: 0;
    background-color: #191919;
    color: white;
}

/*Klasse container*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Gesamte Kopfzeile*/
header{
    background: #000000;
    padding-top: 60px;
    min-height: 70px;
}    

/* Links intern Kopfzeile*/
header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}
/*List Objekte*/
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

/*Überschrift Kopfzeile*/
header #{
    float: left;
}

header # h1{
    margin 0;
}

/* Navigationsleiste Kopfzeile*/
header nav{
    float: right;
    margin-top:10px;
}

/*Wilkommen 1. Absatz*/
#welcome{
    font-size: 20px;
    margin: 40px 0px 5px 300px;
    color: white;
}
.box {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 100px;
}
