/*Alles*/
body {
    
    font: 8px/1px 'Roboto Condensed', sans-serif;
    
    padding: 0px;
    
    margin: 0px;
    
    background-color: #262626;
    
}

/*generisch*/
.container{
    width: 100%;
    margin: 0;
    overflow: hidden;
}

/*Gesamte Kopfzeile*/
header{
    background: #191919;
    color: white;
    padding-top: 60px;
    padding-bot: 60px;
}    

/* Links intern Kopfzeile*/
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/*Ungeordnete Listen*/
header ul {
    padding 0px;
}
/*List Objekte*/
header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

/*Überschrift Kopfzeile*/
h1{
    float: left;
}

/* Navigationsleiste Kopfzeile*/
header nav{
    float: right;
    margin-top: 0px;
}

/*Wilkommen 1. Absatz*/
#welcome{
    font-size: 20px;
    margin: 40px 0px 5px 300px;
    color: white;
}
