body {
    
    font: 8px/1px 'Roboto Condensed', sans-serif;
    
    padding: 0px;
    
    margin: 0px;
    
    background-color: #262626;
    
}

.container{
    width: 70%;
    margin: 0;
    overflow: hidden;
}

header{
    background: #191919;
    color: red;
    padding-top: 5px;
    padding-bot: 0px;
    /*min-height: 30px;*/
}    

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;    
}

header ul{
    padding: 0px;
}

header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 0px;
}

#welcome{
    font-size: 20px;
}
